.footer{
    background-color: black;
    padding: 4rem 0;
    font-family: "Public Sans",sans-serif;
}
.footer-flex-1{
    display: flex;
    justify-content: space-around;
}
.footer-flex-11 ul li{
    display: inline;
    margin:0 1rem;
    
}
.footer-flex-12 ul li{
    display: inline;
    margin:0 1rem;
    color: white;
}
.footer a{
    text-decoration: none;
    color: white;
}